@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    background-color: rgb(0, 0, 0);
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
}

.movies{
    max-width: 266px;
    min-height: 480px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.185);
    border-radius: 25px;
    position: relative;
    text-align: center;
}

.movies__wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-template-rows: repeat(1, minmax(200px, auto));
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movies__title{
    margin: 10px 0;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.movies__image{
    max-width: 266px;
    height: 357px;
    position: relative;
}

.movies__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.movies__genre{
    color: #AFB2B6;;
    font-size: 13px;
    line-height: 24px;

}

.movies__ranking{
    min-width: 25px;
    min-height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 8px;
    text-align: center;
    border-radius: 6px;
    background-color: #1d5835;
    color: white;
    font-size: 12px;
}

.more{
    text-align: center;
}