.header__wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.search{
    flex-grow: 1;
}

.search input{
    width: 100%;
    background: #323537;
    border-radius: 10px;
    padding: 16px 20px;
    color: #ffff;
    text-decoration: none;
    outline: none;
    border: none;
}

.profile__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profle__initials{
    padding: 15px;
    border-radius: 10px;
    background: #7B61FF;
    color: #ffff;
    font-size: 20px;
}

.profle__name{
    color: #ffff;
    font-size: 16px;
}

.header__button{
    padding: 0 12px;
    border-radius: 50%;
    background: #7B61FF;
    border: none;
    outline: none;
    cursor: pointer;

    transform: translateY(0px);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
    transition: all 0.5s;
}

.header__button:hover{
    background: #771f9d;
    color: white;
    transform: translateY(-5px);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.header__close{
    max-width: 25px;
    max-height: 50px;
    /* object-fit: contain; */
}

.header__close svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}